# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.venv/
venv/
ENV/
.env
env/
env.bak/
venv.bak/

# Poetry files
.poetry/
poetry.lock

# IDEs and editors
.idea/
.vscode/
*.swp

# Logs
*.log

# Misc
.DS_Store
.coverage
.tox/
.nox/
.hypothesis/
.pytest_cache/
.mypy_cache/
.ruff_cache/

#db
*.db*

#json'
*.json

#text
*.txt

#ipynb files
analysis copy.ipynb
test_test_test.ipynb

